IDI_ICON ICON DISCARDABLE "..\\resource\\icon_root_folder.ico"
ROOT_FOLDER ICON "..\\resource\\icon_root_folder.ico"
COMMON_FOLDER ICON "..\\resource\\icon_common_folder.ico"
COMMON_FILE ICON "..\\resource\\icon_common_file.ico"
1 VERSIONINFO
FILEVERSION 0,0,0,1
PRODUCTVERSION 0,0,0,1
FILEFLAGSMASK 0x0000003FL
FILEFLAGS 0x0000000BL
FILEOS 0x00010001L
FILETYPE 0x00000001L
FILESUBTYPE 0x00000000L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904E4"
BEGIN
VALUE "CompanyName", "Sonetto"
VALUE "FileDescription","RARC Composer"
VALUE "FileVersion", "0,0,1"
VALUE "InternalName", "RARCcomposer.exe"
VALUE "LegalCopyright","Copyright\251 2008 Arthur Carvalho de Souza Lima"
VALUE "OriginalFilename", "RARCcomposer.exe"
VALUE "ProductName", "RARC Composer"
VALUE "ProductVersion", "0,0,1"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x0409,1200
END
END
